<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#d9d9d9;">


    <div style="position:absolute"> 
    
        <div style="position:absolute;left:12px;top:10px;width:830px;height:70px;background-color:#00b8e6"></div>
        <div style="color:#ffffff;font-family:verdana;font-size:30px;position:relative;left:300px;top:25px;">Receptor de Datos</div>
      </div>

    <div style="position:absolute;left:20px;top:100px;width:200px;height:300px;background-color:#ffffff">
        <div style="position:absolute;left:35px;top:40px;width:1px;height:1px;background-color:#ffffff">
          <img src="https://cdn-icons-png.flaticon.com/512/53/53128.png" alt="Imagen velocidad" width="128" height="128"></div>
        </div>
          <div style="color:#000000;font-family:verdana;font-size:20px;position:absolute;left:70px;top:110px;">Velocidad</div>
          <div style="color:#000000;font-family:verdana;font-size:60px;position:absolute;left:45px;top:280px;">{{vel}}</div>
          <div style="color:#000000;font-family:verdana;font-size:30px;position:absolute;left:70px;top:350px;">m/Seg.</div>

    <div style="position:absolute;left:230px;top:100px;width:200px;height:300px;background-color:#ffffff">
            <div style="position:absolute;left:35px;top:40px;width:1px;height:1px;background-color:#ffffff">
          <img src="https://cdn-icons-png.flaticon.com/512/2961/2961948.png" alt="Imagen Periodo" width="128" height="128"></div>
            </div>
              <div style="color:#000000;font-family:verdana;font-size:20px;position:absolute;left:290px;top:110px;">Periodo</div>
              <div style="color:#000000;font-family:verdana;font-size:60px;position:absolute;left:295px;top:280px;">{{per}}</div>
              <div style="color:#000000;font-family:verdana;font-size:30px;position:absolute;left:290px;top:350px;">Seg.</div>
    
    <div style="position:absolute;left:440px;top:100px;width:200px;height:300px;background-color:#ffffff">
                <div style="position:absolute;left:35px;top:40px;width:1px;height:1px;background-color:#ffffff">
              <img src="https://cdn-icons-png.flaticon.com/512/3/3804.png" alt="Imagen Helice" width="128" height="128"></div>
                </div>
                  <div style="color:#000000;font-family:verdana;font-size:20px;position:absolute;left:500px;top:110px;">Helice</div>
                  <div style="color:#000000;font-family:verdana;font-size:60px;position:absolute;left:515px;top:280px;">{{n_helices}}</div>
    
                  <div style="position:absolute;left:650px;top:100px;width:200px;height:300px;background-color:#ffffff">
                    <div style="position:absolute;left:35px;top:40px;width:1px;height:1px;background-color:#ffffff">
                  <img src="https://cdn-icons-png.flaticon.com/512/7571/7571064.png" alt="Imagen Signal" width="128" height="128"></div>
                    </div>
                      <div style="color:#000000;font-family:verdana;font-size:20px;position:absolute;left:710px;top:110px;">RSSI</div>
                      <div style="color:#000000;font-family:verdana;font-size:60px;position:absolute;left:695px;top:280px;">-95</div>
                      <div style="color:#000000;font-family:verdana;font-size:30px;position:absolute;left:700px;top:350px;">Dbm</div>

</body>
<meta http-equiv="refresh" content="2"/>
</html>